*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
}

header{
    display: flex;
    width: 100%;
    height: 20vh;
    border: solid 2px red;
    background-color: aliceblue;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: solid 2px red;
    height: 100%;
    width: 50%;
}


/* ===================== Agendamento ======================== */
.agendamento{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px red;
    background-color: green;
    height: 80vh;
}

section{
    height: 70vh;
    width: 20vw;
    border: solid aliceblue 2px;
    margin: 0.5rem;
}

form{
    height: 70vh;
    width: 70vw;
    border: solid aliceblue 2px;
    margin: 0.5rem;
}

.space{
    height: 30%;
    border: solid 2px black;
    display: flex;
}

.spaceBTN{
    height: 10%;
    border: solid 2px black;
}

.inputs{
    width: 50%;
    border: solid 2px black;
}