*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
}

header{
    display: flex;
    width: 100%;
    height: 20vh;
    border: solid 2px red;
    background-color: aliceblue;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: solid 2px red;
    height: 100%;
    width: 50%;
}


/* ===================================================== */
main{
    height: 80vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 85%;
    width: 70vw;
    border: solid 2px black;
}

.titleCan{
    height: 20%;
    width: 100%;
    font-size: 2rem;
    border: solid red 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa{
    border: solid 2px blue;
    display: flex;
    height: 80%;
}

.filters{
    height: 100%;
    width: 100%;
    border: solid 2px blue;
}

form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#btnPesquisa{
    margin-top: 2rem;
}

.resultado{
    height: 100%;
    width: 30%;
    border: solid 2px blue;
}