
   #fundo {
	       position: absolute;
	       left:3%;
	       top:1%;
	       width: 94%;
	       height: 98%;
	       z-index: 1;
          }
   #title {
	       position: absolute;
	       top: 2%;
	       width: 98%;
	       height: 18%;
	       z-index: 1;
	       left: 1%;
	       background-color: #3399cc;
		   border-radius: 16px;
		   display: flex;
		   align-items: center;
		   justify-content: center;
          }
   #img {
	     position: absolute;
	     left: 22%;
	     top: 13%;
	     width: 56%;
	     height: 74%;
	     z-index: 1;
	     background-color: #3399cc;
        }
    #janela {
	         position:absolute;
	         left:1%;
	         top:21%;
	         width:98%;
	         height:79%;
	         z-index:2;
            }
     #shadow {
	          position:absolute;
	          left:1%;
	          top:2%;
	          width:98%;
	          height:21%;
	          z-index:2;
	          background-color: #000000;
             }
			 
			 
.corpo{
	    background-color: #FFFFFF;
      }	
	  
	  
h2 {
	 font-size: 4.6em;
	 font-family: verdana;
	 color: white;
	 text-shadow: 2px 2px #4682B4;
   }	

